# --- Expo & Mobile Specific ---
.expo/
dist/
web-build/
expo-env.d.ts
.metro-health-check*

# --- Native Folders ---
/ios/
/android/
.kotlin/

# --- Mobile Credentials & Certificates ---
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.pem

# --- TypeScript & Debug ---
*.tsbuildinfo
*.orig.*

# --- Dependencies ---
node_modules/

